button {
    margin: 0;
    padding: 0;

    overflow: visible;
    &::after {
        content: "";

        transform: none;

        border: none;
    }
}

input {
    height: auto;
    min-height: auto;
}