.rb-button-group {
    background-color: green;
    .rb-button__body {
        display: inline-block !important;
        border-radius: 0 !important;
        &:first-child {
            border-top-left-radius: $--border-radius-base;
            border-bottom-left-radius: $--border-radius-base;
            &.large {
                &.round, &.round::before, &.round::after {
                    border-top-left-radius: $--component-large-height-half;
                    border-bottom-left-radius: $--component-large-height-half;
                }
            }
            &.small {
                &.round, &.round::before, &.round::after {
                    border-top-left-radius: $--component-small-height-half;
                    border-bottom-left-radius: $--component-small-height-half;
                }
            }
            &.mini {
                &.round, &.round::before, &.round::after {
                    border-top-left-radius: $--component-mini-height-half;
                    border-bottom-left-radius: $--component-mini-height-half;
                }
            }
        }
        &:last-child {
            border-top-right-radius: $--border-radius-base;
            border-bottom-right-radius: $--border-radius-base;
            &.large {
                &.round, &.round::before, &.round::after {
                    border-top-right-radius: $--component-large-height-half;
                    border-bottom-right-radius: $--component-large-height-half;
                }
            }
            &.small {
                &.round, &.round::before, &.round::after {
                    border-top-right-radius: $--component-small-height-half;
                    border-bottom-right-radius: $--component-small-height-half;
                }
            }
            &.mini {
                &.round, &.round::before, &.round::after {
                    border-top-right-radius: $--component-mini-height-half;
                    border-bottom-right-radius: $--component-mini-height-half;
                }
            }
        }
    }
}