$--color-primary: #52b9fd;
$--color-success: #4cd964;
$--color-warning: #f0ad4e;
$--color-error: #dd524d;

$--bg-color: #ffffff;
$--bg-color-grey: #f8f8f8;
$--bg-color-mask: rgba(0, 0, 0, 0.4);

$--font-large: 18px;
$--font-standard: 16px;
$--font-small: 14px;
$--font-mini: 12px;