$--color-primary: var(--color-primary);
$--color-success: #4cd964;
$--color-info: #9c9c9c;
$--color-warning: #f0ad4e;
$--color-danger: #dd524d;

$--color-white: #ffffff;
$--color-black: #000000;

$--color-text-primary: #303133;
$--color-text-regular: mix($--color-text-primary, $--color-white, 85);
$--color-text-secondary: mix($--color-text-primary, $--color-white, 70);
$--color-text-placeholder: mix($--color-text-primary, $--color-white, 55);

$--color-border-base: #DCDFE6;
$--color-border-light: mix($--color-border-base, $--color-white, 80);
$--color-border-lighter: mix($--color-border-base, $--color-white, 60);

$--bg-color-base: #f1f5fa;
$--bg-color-dark: mix($--bg-color-base, $--color-black, 80);
$--bg-color-mask: rgba(0, 0, 0, 0.4);

$--shadow-filter-base: drop-shadow(2px 2px 4px rgba(0, 0, 0, .2));
$--shadow-filter-light: drop-shadow(0 0 8px rgba(0, 0, 0, .1));


$--font-size-extra-small: calc(var(--font-size-base) * 0.86);
$--font-size-small: calc(var(--font-size-base) * 0.93);
$--font-size-base: var(--font-size-base);
$--font-size-medium: calc(var(--font-size-base) * 1.14);
$--font-size-large: calc(var(--font-size-base) * 1.28);
$--font-size-extra-large: calc(var(--font-size-base) * 1.42);

$--component-mini-height: calc(var(--font-size-base) * 1.72);
$--component-small-height: calc(var(--font-size-base) * 2.325);
$--component-medium-height: calc(var(--font-size-base) * 2.5);
$--component-large-height: calc(var(--font-size-base) * 3.42);

$--border-radius-base: 4px;

$--animation-time-extra-short: calc(var(--animation-time) * 0.6);
$--animation-time-short: calc(var(--animation-time) * 0.8);
$--animation-time-base: var(--animation-time);
$--animation-time-long: calc(var(--animation-time) * 1.2);
$--animation-time-extra-long: calc(var(--animation-time) * 1.4);